.appContainer {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.appLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: var(--padding-inline-mobile);
}

.page-title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgb(var(--color-light-grey));
    text-align: left;
}
.back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: rgb(var(--color-light-grey));
    cursor: pointer;
}

.movie-grid-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no-movies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(var(--color-light-grey));
    margin-top: 5rem;
}
