
.genre-select {
    text-align: right;
    width: 100%;
    font-size: var(--font-size-md);
    margin-bottom: 1rem;
    color: rgb(var(--color-light-grey));
}
.select__control {
    height: auto;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    
}
.select__value-container {
    flex: unset !important;
    -webkit-flex: unset;
    gap: 0.5rem;
}
.select__indicators {
    margin-top: 3px;
    margin-left: 1rem;
    align-self: flex-start !important;
}
.select__value-container--has-value {
    flex:1 !important;
    max-width: 40rem;
}
.select__multi-value {
   border: 1px solid rgb(var(--color-mid-grey));
   border-radius: 3px;
   font-size: var(--font-size-sm);
}
.select__menu {
    background-color: rgb(var(--color-mid-grey));
    max-width: 15rem;
    border-radius: 5px;
    border: 1px solid rgb(var(--color-dark-grey));
    box-shadow: 0 0 10px 0 rgb(var(--color-dark-grey));
    
}
.select__option {
    font-size: var(--font-size-sm);
    padding: .5rem 1rem;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid rgb(var(--color-dark-grey));
}
.select__option:hover {
    background-color: rgb(var(--color-dark-grey));
}

@media screen and (min-width: 768px) {
    .select__indicators {
        margin-top: 10px;
    }
}