.navBar {
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-inline-mobile);
    height: 8rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1 {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color-white);
    width: 10rem;
    line-height: 0.9;
}
.logoIcon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-right: 2rem;
}
.search-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2.5rem;
    width: 13rem;
    border-radius: 3px;
    border: 1px solid rgb(var(--color-light-grey));
    background-color: rgb(var(--color-mid-grey));
    padding: 0.5rem;
    color: var(--color-white);
    font-size: 1.2rem;
    transition: width 0.3s ease;
}

.search-input:active,
.search-input:focus {
    width: 18rem;
    outline: none;
}
.clear-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position:absolute;
    top: 5px;
    right: 5px;
    fill: rgb(var(--color-light-grey));
}

.heart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    cursor: pointer;
}