.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-right: var(--spacing-md);
}
.search-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.5rem;
    width: 7rem;
    border-radius: 3px;
    border: 1px solid rgb(var(--color-light-grey));
    background-color: rgb(var(--color-mid-grey));
    padding: 1rem;
    color: var(--color-white);
    font-size: var(--font-size-xs);
    transition: width 0.3s ease;
}

.search-input:active,
.search-input:focus {
    width: 10rem;
    outline: none;
}
.clear-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position:absolute;
    top: 9px;
    right: 9px;
    fill: rgb(var(--color-light-grey));
}

@media screen and (min-width: 768px) {
    .search-input {
      width: 18rem;
    }
    .search-input:active,.search-input:focus {
      width: 22rem;
    }
}